body {
 
}

h1{
   
   margin-left:100px;
   color:blue;
}
input{
   background-color:Sky;
   padding:15px;
   width:313px;
   margin-top:8px;;
}
button{
    padding:15px;
   width:348px;
   margin-top:8px;;
   background-color:blue;
   color:white;
}
div{
   background-color:Gray; 
   height:1px;
   width:46.4%;
   display:inline-block ;
}
p{display:inline-block ;
margin-top:10px;
}
.createbtn{
   width:150px; 
   background-color:green;;
   font-size:12px;;
   margin-left:100px;
   padding:10px;
   text-transform:bold ;
}
